header{
    width: 100%; 
    background-color: $componentBackground;
    height: 5vw;
    position: relative;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    margin-bottom: 3vw;
    p {
        text-align: center;
        font-weight: bold;
        font-family: sans-serif;
        margin-top: 1.4vw;
        color: white;
        font-size: 25px;
    }
}